/* some style */
body {
    font-family: helvetica;
}
canvas {
    border: none;
}
.stage {
    position:relative;
}

.game-canvas {
    position:absolute;
    left:0;
    top:0;
}

#game-background {
    z-index : 0;
}

#game-foreground {
    z-index : 1;
}

.player {
	position:absolute;
	top:-300px;
}

.msg {
    position:absolute;
    top:360px;
    left:210px;
    z-index:10;
}

.msg button {
    font-size:2em;
}

.msg button.hidden {
    display : none;
}

