/* some style */
body {
    font-family: helvetica;
}
canvas {
    border: none;
}
.stage {
    position:relative;
}

.game-canvas {
    position:absolute;
    left:0;
    top:0;
}

#game-background {
    z-index : 0;
}

#game-foreground {
    z-index : 1;
}

.player {
	position:absolute;
	top:-300px;
}

